.header {
    display: flex;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #ECECEC;
    padding: 24.5px;
}

.header__logo {
    color: var(--color-head);
    font-size: 26px;
    font-family: 'Raleway';
    text-decoration: none;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo__accent {
    color: #2196F3;
}

.navigation {
    display: flex;
}

.navigation__list {
    margin-left: 93px;
    display: flex;
    align-items: center;
}

.navigation__item {
    margin-right: 50px;
}

.navigation__item:last-child {
    margin-right: 0px;
}

.navigation__link {
    color: var(--color-head);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:focus {
    color: var(--color-text-hover);
}

.navigation__link:hover {
    color: var(--color-text-hover);
}

.navigation__link--current {
    position: relative;
    color: var(--color-text-hover);
}

.navigation__link--current::after {
    display: block;
    position: absolute;
    color: var(--color-text-hover);
    background: var(--color-text-hover);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    content: '';
    bottom: -32px;
}

.header__adress {
    margin-left: auto;
    display: flex;
}

.adress__list {
    display: flex;
    align-items: center;
}

.adress__item {
    margin-right: 30px;
}

.adress__item:last-child {
    margin-right: 0;
}

.adress__link {
    display: block;
    color: var(--color-secondary);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    line-height: 1.14;
    fill: #757575;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__link:hover {
    color: var(--color-text-hover);
}

.adress__link:focus {
    color: var(--color-text-hover);
}

.adress__icon {
    margin-right: 10px;
    fill: currentColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.adress__link:hover .adress__icon {
    fill: var(--color-svg-content-hover);
}

.adress__link:focus .adress__icon {
    fill: var(--color-svg-content-hover);
}