.working {
    padding-top: 0;
}

.working__title {
    color: var(--color-head);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.working__list {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.working__list:not(:last-of-type) {
    margin-right: 30px;
    ;
}

.working__list-container {
    position: absolute;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
}

.working__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    color: var(--color-white);
    text-align: center;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 27px auto;
}