.workers {
    background-color: #f5f4fA;
}

.workers__title {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.workers__list {
    display: flex;
    justify-content: space-between;
}

.workers__item {
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.workers__img {
    margin-bottom: 30px;
}

.workers__img:not(:last-of-type) {
    margin-right: 30px;
}

.workers__containers {
    margin: 30px auto;
}

.workers__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.workers__subname {
    color: var(--color-secondary);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}


.workers__social {
    display: flex;
    margin-bottom: 30px;
}

.workers__social--list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin: 16px auto 0 auto;
}

.workers__social--link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: var(--color-svg-content);
    border-radius: 50%;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.workers__social--link:hover,
.workers__social--link:focus {
    background-color: var(--background-social-link-footer-hover);
    fill: var(--color-white);
}